html, body {
    background-color: gray;
    padding: 0;
    margin: 0;
}
.container{
    position:absolute;
    left: 550px;
    top: 150px;
}
#img{
    position:absolute;
    left: 600px;
    top: 80px;
    height: 200px;
    border-radius: 40px;
    
}